@import "../../../styles/global.scss";

.searchOccupancyModal {
  position: relative;
  top: 0px;
  left: -10px;
  width: 100%;
  background-color: white;
  z-index: 1;
  padding: 10px !important;
}

.searchOccupancyModalFooter {
  display: flex;
  justify-content: space-between;
}