@import "../../../styles/global.scss";

.searchOccupancyQuantity {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.searchOccupancyQuantityTitles {
}

.SearchOccupancyQuantityTitle {
  color: black;
}

.SearchOccupancyQuantitySubtitle {
  color:grey;
  font-size: 10pt;
}

.SearchOccupancyQuantityNumbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 90px;
}

.SearchOccupancyQuantityButton {
  cursor: pointer;
  color: $primaryColor;
  text-align: center;
}



