//Colors
$primaryBackColor : #1d54c1;
$secondaryBackColor : #e9eff9;
//upselling buttons
$buttonUnclicked : #d93807;
$buttonClicked : white;
//buttons general
//primary
//background - primaryColor
$hoverButtonPrimary : #0b3994;
//secondary
$hoverButtonSecondary : #e9eff9;
$buttonBorderColor : #c0c6d1; 
//disabled
$disButtonFont : #bcbed0;
$disButtonBack : #e6e6ec;
//links
//inactive
$inactiveLinkColor : #b5ccf8;
//extended
//green for correct status
$successColor : #028a51;
$errorColor : #cb1322;
//text
$primaryTextColor : #3d4355;
$secondaryTextColor : #8591a3;
$disabledTextColor : #9aa1aa;
//disclaimer
$disclaimerBackground : #3d4354;
//FAB Button background color
$fabBackColor : #dde3ec;
//success color
$successFont : $successColor;
//sep line
$separatorLine : #edeff3;
//sep line light
$separatorLightLine : #979797;
//media queries
$xlMQ : 1280px;
$lgMQ : 1023px;
$mdMQ : 960px;
$smMQ : 768px;
$xsMQ : 575px;
