@import "../../../styles/global.scss";

.searchOccupancyAge {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.searchOccupancyAgeTitles {
}

.SearchOccupancyAgeTitle {
  color: black;
}

.SearchOccupancyAgeSubtitle {
  color:grey;
  font-size: 10pt;
}

.SearchOccupancyAgeSelector {
  width: 50%;
}

.SearchOccupancyAgeSelector .MuiInput-root {
  width: 100% !important;
  text-align: right !important;
}
.SearchOccupancyAgeSelector .MuiInput-underline:before {
  border-bottom: 0 !important;
}
.SearchOccupancyAgeSelector .MuiInput-underline:after {
  border-bottom: 0 !important;
}

.SearchOccupancyAgeSelector .MuiSelect-root:focus {
  background-color: white !important;
}

.SearchOcuppancyAgeItem.Mui-selected { 
  background-color: white !important;
}

.SearchOcuppancyAgeItem:hover { 
  background-color: $backgroundSelected !important;
}

.InvalidAge {
  color: red !important;
}

