@import "../../styles/global.scss";

.search-box {
  margin: 10px !important;
}
.search-box-element {
  margin-top: 20px !important;
}

.DateRangePicker {
  width: 100% !important;
}

.DateRangePickerInput {
  width: 100% !important;
}