//ModalFilter.css
/* MODAL */
/* Background effect. It covers the entire site */
.modal-filter {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255,255,255,1); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 1; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: auto; /* Enable scroll if needed */
}
/* Modal content */
.modal-content-filter {
    background-color: white;
    width: 100%; /* Width in proportion to its parent container*/
    height: 100%; /* Height in proportion to its parent container */
    margin: auto; /* Auto margin according to the element width */
    padding: 10px;
    border: 1px solid #ffffff;
}
/* Close button */
.close-filter {
   color: #232222;
   float: right; /* Positioned to the right of the parent container whichever size it is */
   font-size: 31px;
   font-weight: bold;
   width: 100%;
   background-color: rgb(255, 255, 255);
   z-index: 1;
   overflow: "auto";
   position: "fixed";
}
.close:hover, 
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}