@import "../../../styles/global.scss";

.otravo-filter-option {
  display: flex;
  align-items: center;
  height: 30px;
}

.otravo-filter-option-checkbox {
  width: 45px;
  max-height: 100%;
}

.otravo-filter-option-checkbox .MuiButtonBase-root {
  padding: 0 !important;
}

.otravo-filter-option-label {
  width: 100%;
}

.otravo-filter-option-quantity {
  width: 80px;
  text-align: right;
  padding-right: 10px;
}