@import "../../styles/global.scss";

.search-occupancy {
  height: 50px;
}

.search-occupancy-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}

.search-occupancy-summary-info {
  display: flex;
  justify-content: space-between;
  width: 45px;
}
