@import "../../styles/global.scss";

.searchOccupancy {
  height: 50px;
}

.searchOccupancySummary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}

.searchOccupancySummaryInfo {
  display: flex;
  justify-content: space-between;
  width: 45px;
}
