@import "../../../styles/global.scss";

body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 25px;
  width: 100%;
  border: 1px solid $boxBorderColor;
  background-color: $boxBackgroundColor;
  font-family: $infoFontFamily;
  font-weight: $infoFontWeight;
  font-size: $infoFontSize;
  border-bottom-left-radius: $boxBorderRadius;
  border-bottom-right-radius: $boxBorderRadius;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: $backgroundSelected;
}

.otravo-suggestion {
  display: flex;
  justify-content: flex-start;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.otravo-suggestion-type {
  width: 25px;
}

.otravo-suggestion-name {
  padding-left: 7px;
}


.otravo-suggestion-icon {
  display: block;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
}