@import "../../../styles/global.scss";

.otravo-serach-card-list-counter {
  margin-top: 10px !important;
}

.next-page-progress-box {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.search-progress-box {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
