@import "../../../styles/global.scss";

.otravo-card-pricing {
  padding: 10px;
}

.otravo-card-stay-price {
  color: $primaryColor;
  font-size: 20pt;
  font-weight: bold;
}

.otravo-card-strikeout-price {
  text-decoration: line-through;
}

.otravo-margin-top-30 {
  margin-top: 30px;
}
