@import "./fonts/fonts";
@import "./variables/variables";

body {
  background-color: $backgroundColor;
  color: $textColor;
  font-family: Open Sans;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid $primaryColor;
  padding: 0px;
  font-family: $inputTextFontFamily;
  font-size: $inputTextFontSize;
  font-weight: $inputTextFontWeight;
  width: 100%;
  color: $textColor;
}

input[type=submit] {
  border: 1px solid $primaryColor;
  border-radius: 3px;
  color: $buttonLabelColor;
  background-color: $primaryColor;
  width: 100%;
  height: 40px;
  font-family: $buttonTextFontFamily;
  font-size: $buttonTextFontSize;
}

input[type=submit]:hover {
  background-color: $buttonBackgroundHoverColor;
}

button {
  border: 1px solid $primaryColor;
  border-radius: 3px;
  color: $buttonLabelColor;
  background-color: $primaryColor;
  width: 100%;
  height: 40px;
  font-family: $buttonTextFontFamily;
  font-size: $buttonTextFontSize;
}

button:hover {
  background-color: $buttonBackgroundHoverColor;
}

.otravo-title {
  font-family: $titleFontFamily;
  font-size: $titleFontSize;
  font-weight: $titleFontWeight;
  color: $textColor;
}

.otravo-title-2 {
  font-family: $title2FontFamily;
  font-size: $title2FontSize;
  font-weight: $title2FontWeight;
  color: $textColor;
}

.otravo-label {
  font-family: $labelFontFamily;
  font-size: $labelFontSize;
  color: $textColor;
  margin: 0px;
}

.otravo-small-button {
  font-family: $labelFontFamily;
  font-size: $labelFontSize;
  color: $primaryColor;
  margin: 0px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.otravo-small-button:hover {
  color: $buttonBackgroundHoverColor;
}

.otravo-info {
  font-family: $infoFontFamily;
  font-size: $infoFontSize;
  font-weight: $infoFontWeight;
  color: $textColor;
}

.otravo-box {
  border: none;
  border-radius: $boxBorderRadius;
  background: $boxBackgroundColor;
  width: 100%;
  margin: 10px;
  padding: 25px;
}

.otravo-box-with-border {
  border: 1px solid $boxBorderColor;
  border-radius: $boxBorderRadius;
  background: $boxBackgroundColor;
  width: 100%;
  margin: 10px;
  padding: 25px;
}
