@import "../../../styles/global.scss";

.searchOccupancySummary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}

.searchOccupancySummaryInfo {
  display: flex;
  justify-content: space-between;
  width: 45px;
}
