@import "../../styles/global.scss";

.otravo-serach-card-list-container {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.otravo-serach-card-list-counter {
  height: 50px;
  font-size: 14pt;
}

.otravo-loading-container {
  display:flex; 
  justify-content: center;
}

.otravo-loading-text {
  color: $primaryColor;
  margin-left: 30px;
  font-size: 14pt;
}