@import "../../styles/global.scss";

.otravo-serach-card-list-container {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.otravo-serach-card-list-counter {
  height: 50px;
  font-size: 14pt;
}