@import "../../styles/global.scss";

.otravo-serach-card-list-container {
  margin-top: 10px;
}

.otravo-serach-card-list-counter {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 14pt;
}