@import "../../styles/global.scss";

.otravo-card-image {
  margin: 10px;
}

.otravo-card-image figure {
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
