.searchOccupancyQuantity {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.searchOccupancyQuantityTitles {
}

.SearchOccupancyQuantityTitle {
  color: black;
}

.SearchOccupancyQuantitySubtitle {
  color:grey;
  font-size: 10pt;
}

.SearchOccupancyQuantityNumbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.SearchOccupancyQuantityDecrease {
  cursor: pointer;
}

.SearchOccupancyQuantityIncrease {
  cursor: pointer;
}


