$primaryColor: #1D54C1;

$textColor: #3D4355;

$backgroundColor: #ECEEF2;

$backgroundSelectedDays: #E9EFF9;

$buttonLabelColor:  white;
$buttonBackgroundHoverColor:  #0B3994;

$boxBackgroundColor:  white;
$boxBorderColor:  white;
