@import "../../../styles/global.scss";

.stay-picker-labels {
  display:flex;
}

.stay-picker-label {
  width:50%;
}

.DateInput {
  width: 50% !important;
}

.DateRangePicker_picker {
  top: 50px !important;
}

.DateInput_fang {
  top: 39px !important;
}

.DayPickerNavigation_button {
  background-color: $primaryColor !important;
}

.DayPickerNavigation_button:hover  {
  background-color: $buttonBackgroundHoverColor !important;
}

.DayPickerNavigation_svg__horizontal {
  fill:$buttonLabelColor !important;
}

.CalendarDay__selected_start {
  background-color: $primaryColor !important;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.CalendarDay__selected_end {
  background-color: $primaryColor !important;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.CalendarDay__selected_span {
  background-color: $backgroundSelected !important;
  color: $primaryColor !important;
}

.CalendarDay__hovered_span {
  background-color: $backgroundSelected !important;
  color: $primaryColor !important;
}

.CalendarDay {
  border: none !important;
}

