@import "../../styles/global.scss";

.otravo-filter-container {
  margin: 10px !important;
}

.otravo-filter {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $boxBorderColor;
}