@import "../../../../styles/global.scss";

.banner {
  height: 70px;
  background-color: #1d54c1;
}
.banner .banner-content {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.banner .banner-content span.logo {
  height: 44px;
  width: 141px;
  display: flex;
}
.banner .banner-content span.logo svg {
  fill: #fff;
}
.banner .banner-content .banner-selectors {
  display: flex;
}
@media (max-width: $screen-md) {
  .banner .banner-content span.logo {
    width: 110px;
  }
}
