.searchOccupancyAge {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.searchOccupancyAgeTitles {
}

.SearchOccupancyAgeTitle {
  color: black;
}

.SearchOccupancyAgeSubtitle {
  color:grey;
  font-size: 10pt;
}

.SearchOccupancyAgeSelector {
  width: 40%;
}

