@import "../../styles/global.scss";

.otravo-card {
  border-color: $primaryColor !important;
  padding: 0 !important;
  margin-left: 0 !important;
}

.otravo-card-pricing-section {
  @media (max-width: $screen-sm) {
    border-top: 1px solid $boxBorderColor;;
  }

  @media (min-width: $screen-sm) {
    border-left: 1px solid $boxBorderColor;;
  }
}
