@import "../../../styles/global.scss";

.searchOccupancyModal {
//  display: inline-block;
  position: relative;
  top: -274px;
  left: 290px;
  border: 1px solid black;
  padding: 10px;
  min-width: 270px;
  background-color: white;
  z-index: 1;
}

.searchOccupancyModalHeader {
  display: flex;
  justify-content: space-between;
}

.searchOccupancyModalHeaderClose {
  cursor: pointer;
}

.searchOccupancyModalHeaderAddRoom {
  cursor: pointer;
}